
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

@ViewBag.Message
<br />
@ViewBag.Name
<br />
@ViewBag.ByPickup
<br />
@ViewBag.ByDelivery
<br />
<br />
<form action="/Home/Final">
    Click Confim to place your order.<br /><br />
    <input type="submit" value="Confirm">
</form>