@{
    ViewBag.Title = "Contact Us";
}

<h2>Contact</h2>
<h3>How to contact us</h3>

<address>
    One campus Martius<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    (800)251.9080
</address>

Join us in Zoom for <a href="https://grandcircus.zoom.us/j/97827849653?pwd=anlNT0VRU2FEeStTSFlvQjkxV1F5Zz09">Class</a>
<br />
or Join us in Zoom for <a href="https://grandcircus.zoom.us/j/98072707353?pwd=c1J3Yzk5d2N1SzlBd3E3Qi82UVRiUT09">Lab</a>
<br />
<br />

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
