@{
    ViewBag.Title = "DB Coffee Shop";
}

    <h2>Welcome to the Coffee Shop!</h2>
<br /><br />

To place an order, please first Register.<br />
<h3><a href="/Home/Register">Register by clicking here</a></h3>
<br />
