@{
    ViewBag.Title = "Success";
}

<h2>@ViewBag.Success</h2>

@ViewBag.EmailConfirm
<br />
<br />
@ViewBag.DetailsConfirm
<br />
<br />
Click <a href="/Home/Shop">here</a> to begin your coffee shopping experience and thanks for your soul.